@font-face {
  font-family: 'ComicCode';
  src: url('https://raw.githubusercontent.com/mckamyk/mckamyk.github.io/font/ComicCode.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}

* {
  font-variant-ligatures: normal;
}
